
.dashboard {
    display: flex; 
}

.dashboard-half {
    display: inline-block; 
    width: 50%; 
}

.map {
    background: url('../images/map.png') no-repeat center top; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-color: rgb(226, 226, 226); 
    height: 450px;
    width: 85%; 
    margin-top: 0px; 

}


#page-numbers {
    list-style: none;
    display: flex;
}

#page-numbers > li {
    margin-right: 1em;
    color: blue;
    user-select: none;
    cursor: pointer;
}


    border: 10px solid white;
}

