body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(68, 68, 90); 
}

.center {
  text-align: center; 
}

input {
  padding: 8px; 
  border: 1px solid rgb(155, 155, 155); 
  border-radius: 4px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  width: 300px; 
}

button {
  padding: 10px 20px; 
  border: 0px; 
  border-radius: 4px; 
  margin-top: 10px; 
  margin-bottom: 10px;
  transition: 0.3s; 
  font-size: 14px; 
}

.button-blue {
  background-color: rgb(120, 120, 158); 
  color: white; 
}
.button-blue:hover {
  background-color: rgb(113, 113, 150); 
  color: white; 
}

h1, h2, h3, h4, h5, h6, p, label, a {
  color: white; 
}

a {
  text-decoration: none; 
}
